<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<style>
.ui-panelgrid td, .ui-panelgrid tr {
	border-style: none !important
}
</style>
</h:head>

<h:body>
	<div id="cabecalho">


		<h:panelGrid columns="2">
			<h:graphicImage library="img" name="logo.png" />

			<h:form rendered="#{usuarioLogado != null}"
				style="position:absolute; right: 10px">
				<p:themeSwitcher id="basic" style="width:165px"
					value="#{temaBean.tema}">
					<f:selectItem itemLabel="Choose Theme" itemValue="" />
					<f:selectItems value="#{temaBean.temas}" var="tema"
						itemLabel="#{tema}" itemValue="#{tema}" />
					<f:ajax />
				</p:themeSwitcher>
			</h:form>
		</h:panelGrid>

		<p:growl id="messages" showDetail="true" autoUpdate="true" />

		<h:form rendered="#{usuarioLogado != null}">
			<p:menubar>
				<p:submenu label="Cadastros" icon="ui-icon-document">
					<p:menuitem value="Livros" action="livro?faces-redirect=true"
						icon="fa fa-fw fa-edit" />
					<p:separator />
					<p:menuitem value="Autor" action="autor?faces-redirect=true"
						icon="fa fa-fw fa-edit" />
				</p:submenu>

				<p:submenu label="Outros">
					<p:menuitem value="Vendas" action="vendas?faces-redirect=true" icon="fa fa-fw fa-bar-chart" />
					<p:menuitem value="Logout" action="#{loginBean.deslogar}"
						icon="fa fa-fw fa-sign-out" />
				</p:submenu>
				<p:submenu label="Primefaces">
					<p:menuitem value="ShowCase" url="http://primefaces.org/showcase"
						icon="fa fa-fw fa-sign-out" />
				</p:submenu>
			</p:menubar>
		</h:form>

		<h1>
			<ui:insert name="titulo"></ui:insert>
		</h1>
	</div>

	<div id="conteudo">
		<ui:insert name="conteudo">
		</ui:insert>
	</div>
</h:body>

</html>