<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="_template.xhtml">
	
	<f:metadata>
    	<f:viewParam name="autorId" value="#{autorBean.autorId}"/>
    	<f:viewAction action="#{autorBean.carregarAutorPelaId}" if="#{param.autorId != null}"/>
	</f:metadata>
		
		<ui:define name="titulo">
				<p:outputPanel>Novo Autor</p:outputPanel>
		</ui:define>

		<ui:define name="conteudo">
			<h:form id="autor">
				<p:fieldset legend="Dados do Autor">
					<p:panelGrid columns="3">

						<p:outputLabel value="Nome:" for="nome" />
						<p:inputText id="nome" value="#{autorBean.autor.nome}"
							required="true">
							<f:validateLength minimum="5" />
							<f:ajax event="blur" render="messageNome" />
						</p:inputText>
						
						<p:message for="nome" id="messageNome" />
						
						
						<p:outputLabel value="Email:" for="email" />
						<p:inputText value="#{autorBean.autor.email}" id="email" validatorMessage="E-mail Inválido!">
						      <f:attribute name="type" value="email" />
						      <f:validateRegex pattern=".+@.+" />
						      <f:ajax event="blur" render="messageEmail" />
						</p:inputText>
						
						<p:message for="email" id="messageEmail" />

						<p:commandButton value="Gravar" action="#{autorBean.gravar}" process="@form" update="@form :formTabelaAutores"/>
					</p:panelGrid>
				</p:fieldset>
			</h:form>
			
			<h:form id="formTabelaAutores">
				<p:dataList value="#{autorBean.autores}" var="autor" id="tabelaAutores" type="definition">
					
					<f:facet name="header">
						Autores	
					</f:facet>
					 <p:commandButton icon="fa fa-fw fa-edit" update=":autor">
			            <f:setPropertyActionListener value="#{autor}" target="#{autorBean.autor}" />
			        </p:commandButton>

			        <p:commandButton icon="fa fa-fw fa-remove" action="#{autorBean.remover(autor)}" 
			            update="@form" />
			            
			        #{autor.nome} - #{autor.email}
					
				</p:dataList>
				
				
			</h:form>
		</ui:define>

	</ui:composition>

</html>
